@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Oldenburg');

body {
    padding: 50px;
    background-color: #AA7339;
    font-family: 'PT Serif', serif;
}

h1 {
    color: #552C00;
}
h2 {
    color: #552C00;
}
h3 {
    color: #552C00;
}
figure.cats {
border: 2px #552C00 solid;
border-radius: 2px;
padding: 25px;
width: 250px;
height: 250px;
text-align: center;
background-color: #D4A16A;
display: inline-block;
margin: 2px;
}
figure.cats img  {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

h1.fnt-red {
    color: red;
    font-style: italic;
}
.fnt-blue {
    color: blue;
    font-weight: bolder;
}
#nombre_alumno {
    color: goldenrod;
    font-weight: bold;
    font-style: italic;
}
h1.title {
    color: #552C00;
    font-style: italic;
}
p.parag {
    color: goldenrod;
    font-style: italic;
}
div.circles div {
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50px;
    font-size: 50px;
    background-color: blue;
    color: white;
    text-align: center;
    display: inline-block;
}
div.circles {
    text-align: center;
}
div.circles div.left {
    float: left;
}
div.circles div.right{
    float: right;
}
div.head {
    width: 100%;
    height: 40px;
    
    font-size: 30px;
    background-color: blue;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}
div.bottom {
    width: 100%;
    height: 40px;
    font-size: 30px;
    background-color: red;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}
i.hand {
    color: white;
    font-size: 250px;
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 5px;
}
div.icons {
    text-align: center;
    width: 100%;
}
i.right_hand {
    background-color:red;
}
i.down_hand {
    background-color: green;
}
i.left_hand {
    background-color: black;
}
i.up_hand {
    background-color: blue;
}
ul.icon_list {
    list-style-type: none;
}
table.table1 {
    border: 1px solid black;
}
img.gorila {
    border: 1px solid black;
    padding: 5px;
}
td.photo {
    text-align: center;
}
td {
    text-align: justify;
}
p.Oldenburg {
    font-family: 'Oldenburg';
    text-align: justify;
    text-indent: 5em;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}
p.Oldenburg::first-letter {
    font-size: 2em;
}
p.Oldenburg::first-line {
    color: brown;
}


ul.special li:hover, ul.special li a:hover {
    font-size: 1.2em;
    color: brown;
}
form.form1 {
    padding: 30px 30px 10px 30px;
    border: 1px dashed black;
    width: 330px;
    margin: auto;
}
form.form1 > label {
    width: 100px;
    display: inline-block;
}
form.form1 > input {
    width: 200px;
    margin-bottom: 10px;
}
form.form1 button {
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
label.label {
    color: goldenrod;
}
div.backrepeat {
    background-image: url("../multimedia/elo.png");
    height: 25em;
    width: 50em;
    background-size: 25%;
    margin: 0 auto;
}
div.backcenter {
    background-image: url("../multimedia/elo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25em;
    width: 50em;
    margin: 0 auto;
}
div.backall {
    background-image: url("../multimedia/elo.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 25em;
    width: 50em;
    margin: 0 auto;
}

img.dinosaur {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

i.ambulance {
    color: brown;
    size: 100%;
}

div.video {
width: 560px;
display: block;
margin: 0 auto;
}

div.audio {
    width: 560px;
    display: block;
    margin: 0 auto;
}

div.video2 {
    display: block;
    margin: 0 auto;
    size: 10em;
}

