div.mibox {
    color: white;
    background-color: green;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 15px;
}

div.mibox_fijo {
    color: white;
    background-color: red;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 15px;
}

div.circles {
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50px;
    font-size: 50px;
    background-color: blue;
    color: white;
    text-align: center;
    display: inline-block;
}

div.separador {
height: 50px;
}

div.text_gorila {
    text-align: justify;
}