    @media only screen and (max-width: 799px) {
    body {background-color: green;}
    div.small {
        display: block;
        }  

    div.big {
        display: none;
        }
    }
    
    @media only screen and (min-width: 800px) {
    body {background-color: red;}
    div.small {
        display: none;
        }

    div.big {
        display: block;
        }
    }

    div.small {
        font-size: 6em;
        text-align: center;
        color: white;
    }

    div.big {
        font-size: 6em;
        text-align: center;
        color: white;
    }